<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424571016440-8t6pohb9b2rfnspr69uv40t63fnfsuvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424571016440-8t6pohb9b2rfnspr69uv40t63fnfsuvu</string>
	<key>API_KEY</key>
	<string>AIzaSyD24w077uTC1w_i2dLXzdBVkKpFRahraBA</string>
	<key>GCM_SENDER_ID</key>
	<string>424571016440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makinginvest.signally</string>
	<key>PROJECT_ID</key>
	<string>makinginvestsignally</string>
	<key>STORAGE_BUCKET</key>
	<string>makinginvestsignally.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424571016440:ios:7a717caa7d84c476ddd70d</string>
</dict>
</plist>